@media screen and (max-width: 1120px){
    .header-img{
        max-width: 300px;
    }
}


@media screen and (max-width: 910px){

    .navegacao .desktop{
        width: 100%;
        min-width: 70%;
        
    }
    .navegacao .desktop nav ul li{
        font-size: 18px;
    }

}

@media screen and (max-width: 790px){
    
    .desktop{
        display: none;
    }

    .icon-menu{
        display: block;
    }

    #contato{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulario{
        width: 100%;
        
    }
    .redessociais{
        width: 100%;
        
    }

    .item{
        display: inline-block;
        width: 40%;
        text-align: center;
    }
    
    .item img{
        width: 80%;
        
    }
    
}