@media screen and (max-width: 1250px){
    nav ul li{
        display: inline-block; 
        padding-right: 40px;
      
    }
}

@media screen and (max-width: 1050px){
   
    nav ul li{
        display: inline-block; 
        padding-right: 40px;
      
    }
    .header-img{
        width: 20%;
        float: left;
        margin-top: 5px;
        margin-left: 10px;
    }

}

@media screen and (max-width: 885px){
  
    .header-img{
        width: 18%;
        height: 80px;
        float: left;
        margin-top: 5px;
        margin-left: 10px;
    }

    nav ul li{
        display: inline-block; 
    }

}

@media screen and (max-width: 790px){

    #contato{
        width: 100%;
        height: auto;
        display: block;
        align-items: center;
    
    }
    #home{
        width: 100%;
        height: 600px;
        background-image: url('../imagem/aco.jpg');
        clip-path: polygon(0 50%, 100% 0, 100% 100%);
        padding-top: 50px;
        
    }
    .lista-container{
        margin-top: 70px;
    }
    .lista-container h2{
        font-size: 30px;
        padding: 10px 20px;
    }
    #experiencia{
        clip-path: polygon(0 39%, 100% 10%, 100% 100%, 0% 100%);
    }
    #sobre{
        clip-path: polygon(0 0, 100% 21%, 100% 100%, 0% 100%);
    }
    .setor-1 p{
        padding-bottom: 100px;
    }
    .sobre-img{
        width: 15%;
    }
   
    .formulario{
        width: 100%;
        
    }
    .redessociais{
        width: 80%;
        height: auto;
        margin: 0 auto;
        
    }

}