@font-face{
    font-family: "Caviar";
    src: url("../fonts/CaviarDreams.ttf") format("trutype");
}

@font-face{
    font-family: "Caviaritalic";
    src: url("../fonts/CaviarDreams_Italic.ttf") format("truetype");
}

@font-face{
    font-family: "Sanycimahen";
    src: url("../fonts/SanyCimahen.ttf") format("trutype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* imagem lampada rodape */
#img-luz{
    margin: 5px auto;
    width: 10%;
    height: 100px;
}

/* botao voltar final da pagina */
.voltar{
    margin-bottom: 20px;
    width: 20%;
    height: 80px;
    background-image: url('../imagem/voltar1.png');
    background-size: contain;
    background-repeat: no-repeat;
    
}


body{/*nao pode usar 100% resposnsivo*/
    background-image: url('../imagem/tec7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% auto;
    background-attachment: fixed;
    min-width: 100%;
}

/*navegacao header*/
header{
    width: 100%;
    height: 150px;
}

.navegacao{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.4);
    
    
}

.header-img{
    width: 100%;
    max-width: 400px;
    height: 100px;
    background-image: url('../imagem/developer-1.png');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;

}

/*navegacao desktop*/

.navegacao .desktop{
    width: 100%;
    text-align: right;
    padding: 10px;
    
}

.navegacao .desktop nav ul{
    word-spacing: 20px;
    
}

.navegacao .desktop nav ul li{
    text-transform: uppercase;
    font-family: "Sanycimahen", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    display: inline-block; 
    color: white;
    text-shadow: 2px 2px black;
  
}

.navegacao .desktop nav li:hover{
    color: white;
    text-shadow: 2px 2px 5px white;
    border-bottom: 4px solid chartreuse;
}

.navegacao .desktop ul a{
    text-decoration: none;
  
}

/* termino menu desktop */

/*navegacao mobile*/

.icon-menu{
    width: 70px;
    height: 70px;
    background-image: url('../imagem/cardapio.png');
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

.hide{transition:1s;height:0;}

.show{
    transition:1s;
    height: auto;
}

.navegacao .menu{
    background-color: rgba(255, 255, 255, 0.4);
    line-height: 1.8;
    border-bottom: 4px solid chartreuse;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
    font-family: 'Arial black' , sans-serif;
    font-size: 18px;
}

.navegacao .menu a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
}

.navegacao .menu:hover{
    color: white;
    text-shadow: 2px 2px 5px white;
    
}
/* termino do menu mobile */


#home{
    width: 100%;
    height: 600px;
    background-image: url('../imagem/aco.jpg');
    clip-path: polygon(0 40%, 100% 0%, 100% 100%);
    padding-top: 150px;
    
}

.lista-container{
    text-align: left;
    color: black;
    float: right;
    padding: 0px 10px;
    list-style-position: inside;
}

.lista-container h2{
    color: black;
    font-family: 'times', sans-serif;
    text-shadow: 2px 2px grey;
    font-size: 30px;
    text-shadow: 2px 2px #e0d8ff;
    padding: 10px;
    border-bottom: 4px solid chartreuse;
}

.lista-container ul li{
    padding-top: 10px;
    font-size: 18px;
}

/*setor-1*/
#sobre{
    width: 100%;
    height: auto;
    padding: 50px;
    background-image: url('../imagem/luz.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: 49% 18%;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    
}

.sobre-img{
    width: 130px;
    max-width: 100%;
    height: 120px;
    min-height: 120px;
    background-image: url('../imagem/valdecir-dev.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    border: 2px solid grey;
    
}

.setor-1{
    width: 100%;
    height: 500px;
    text-align: center;
    display: inline-block;
    padding-top: 100px;
    
}

.setor-1 h1{
    font-family: 'Caviar', sans-serif;
    color: rgb(11, 110, 223);
    text-shadow: 2px 4px 10px yellow;
    font-size: 45px;
    font-style: italic;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 4px solid chartreuse;
}

.setor-1 span{
    font-family: 'Caviaritalic', sans-serif;
    color: black;
    text-shadow: 2px 4px 10px yellow;
}

.setor-1 p{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: 'Caviar';
    font-size: 20px;
    padding: 20px;
}
/*termino setor-1*/

/*setor -2*/
#experiencia{
    width: 100%;
    height: auto;
    background-color: white;
}

.setor-2{
    padding: 50px 50px 50px 10px;
}

.setor-2 h1{
    color: black;
    font-family: 'Caviaritalic', sans-serif;
    text-shadow: 2px 2px grey;
    font-size: 40px;
    padding: 10px 20px;
    border-bottom: 4px solid chartreuse;
}

.setor-2 span{
    font-size: 30px;
    color: chartreuse;
    text-shadow: 1px 1px black;
}

.setor-2 p{
    width: 90%;
    height: auto;
    padding: 10px 20px;
    color: black;
    font-family: 'Caviar';
    font-size: 20px;
}
/*termino setor 2*/

/*formacao setor3,4,5*/
.cursos{
    width: 100%;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
    background-image: url('../imagem/computer.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.setor-3{
    text-align: left;
    padding-top: 20px;
}

.setor-3 h1{
    color: white;
    font-family: 'Caviaritalic', sans-serif;
    text-shadow: 2px 4px black;
    font-size: 40px;
    padding: 10px 20px;
    border-bottom: 4px solid chartreuse;
}

.setor-3 h2{
    padding: 10px 20px;
    color: white;
    font-family: 'Caviaritalic', sans-serif;
    text-shadow: 2px 2px black;
    font-size: 26px;
}

.setor-3 span{
    font-size: 30px;
    color: chartreuse;
    text-shadow: 1px 1px black;
}

.setor-3 p{
    width: 70%;
    height: auto;
    padding: 0px 20px;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Caviar';
    font-size: 20px;
}

.setor-3 #paragrafo{
    width: 70%;
    height: auto;
    padding: 0px 20px;
    font-size: 20px;
}

.setor-3 #paragrafo-2{
    width: 50%;
    height: auto;
    padding: 20px 30px;
    font-size: 20px;
}
/* termino setor-3 */

/* inicio setor-4 */
.cursos-2{
    width: 100%;
    height: auto;
    background-color: white;
    clip-path: polygon(0 0, 50% 0%, 100% 100%, 0% 100%);

}

.setor-4{
    text-align: left;
    padding-top: 20px;
}

.setor-4 h1{
    width: 50%;
    height: auto;
    color: black;
    font-family: 'Caviaritalic', sans-serif;
    text-shadow: 2px 2px grey;
    font-size: 26px;
    padding: 10px 20px;
    border-bottom: 4px solid chartreuse;
}

.setor-4 span{
    font-size: 30px;
    color: chartreuse;
    text-shadow: 1px 1px black;
}

.setor-4 p{
    width: 70%;
    height: auto;
    padding: 10px 20px;
    color: black;
    font-family: 'Caviar';
    font-size: 20px;
}
.setor-4 #paragrafo{
    width: 50%;
    height: auto;
    padding: 10px 20px;
    font-size: 20px;
}

.setor-4 #paragrafo-2{
    width: 70%;
    height: auto;
    padding: 20px;
    font-size: 20px;
}
/* termino setor-4 */

/* inicio setor-5 */
.cursos-3{
    width: 100%;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
    background-color: rgb(72, 70, 247);
}

.setor-5{
    text-align: left;
    display: inline-block;
    padding-top: 20px;
}

.setor-5 h1{
    padding: 10px 20px;
    color: white;
    font-family: 'Caviaritalic', sans-serif;
    text-shadow: 2px 2px black;
    font-size: 26px;
    border-bottom: 4px solid chartreuse;
}

.setor-5 span{
    font-size: 30px;
    color: chartreuse;
    text-shadow: 1px 1px black;
}

.setor-5 p{
    width: 70%;
    height: auto;
    padding: 0px 20px;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Caviar';
    font-size: 20px;
}

.setor-5 #paragrafo{
    width: 70%;
    height: auto;
    padding: 20px 20px;
    font-size: 20px;
}

.setor-5 #paragrafo-2{
    width: 50%;
    height: auto;
    padding: 20px 20px;
    font-size: 20px;
}
/*termino setor-5*/

/* inicio setor contato*/
#contato{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

/*formulario*/
.formulario{
    width: 50%;
    max-width: 600px;
    height: auto;
    padding: 20px;
    
}

form{
    text-align: left;
    line-height: 30px;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.212);
    padding: 20px;
}

.formulario h2{
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 10px white;
    padding-bottom: 15px;
}

.formulario legend{
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 10px black;

}

input[type=text], input[type=telefone]{
    width: 100%;
    height: 50px;
    padding-left: 5px;
    font-size: 18px;
    
}

input[type=text], input[type=telefone], input[type=submit], textarea:focus{
    outline: 0;
    border: 0;
}

form textarea{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    resize: none;
    
}

input[type=submit]{
    border: 2px solid white;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
}
/*final formulario*/

/*redessociais*/
.redessociais{
    width: 50%;
    max-width: 600px;
    height: auto;
    padding: 20px;
    
}

.redessociais .redessociais-form{
    line-height: 30px;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.212);
    padding: 20px;
    
}

.item{
    display: inline-block;
    width: 40%;
    text-align: center;
}

.item img{
    width: 80%;
    
}

.redessociais h2{
    color: white;
    text-shadow: 2px 2px black;
    padding-top: 50px;
    text-align: center;
}

/* final redessociais*/


footer{
    background-color: black;
    width: 100%;
    height: auto;
    border: 4px solid white;
    color: white;
    text-shadow: 2px 2px 5px white;
    text-align: center;
 

}