
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* imagem lampada rodape */
#img-luz{
    margin: 5px auto;
    width: 10%;
    height: 100px;
   
}

/* botao voltar final da pagina */
.voltar{
    margin-bottom: 20px;
    width: 20%;
    height: 80px;
    background-image: url('../imagem/voltar1.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* navegação menu socials */
.menu-topo{
    text-align: right;
    padding: 20px;
}

.menu-topo nav a{
    text-decoration: none;
    padding-right: 20px;
}
.menu-topo nav i{
    font-size: 26px;
    color: #66fcf1;

}

/*navegacao header*/
.menu{
    width: 100%;
    height: 650px;
    background-image: url('../media/Lightning.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    
}

.menu .navegacao{
   text-align: right;
   
}

/* Logo img */
.menu-logo{
    margin: auto;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    border: 4px solid aqua;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    
}

.menu-logo span{
    font-size: 32px;
    line-height: 0.9;
}

.menu-logo span:nth-child(2){
    font-size: 70px
}

/*navegacao desktop*/
.navegacao{
    border-bottom: 2px solid aqua;
}
.navegacao .desktop{
    padding: 0px 30px 10px 0px;
    
}

.navegacao .desktop nav ul{
    word-spacing: 40px;
    
}

.navegacao .desktop nav ul li{
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block; 
    color: white;
    transition: 1.5s;
  
}

.navegacao .desktop nav li:hover{
    color: aqua;
    text-shadow: 2px 2px 5px aqua;
}

.navegacao .desktop ul a{
    text-decoration: none;
  
}

/* termino menu desktop */

/*navegacao mobile*/
/* icon-mobile */

.btn-menu{
    display: none;
    width: 50px;
    height: 50px; 
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 2px;
    cursor: pointer;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; 
    -moz-transition-duration: 0.3s;
}

.btn-menu span {   
    background: linear-gradient(to left, aqua 50%, #1f2833, grey);
    margin: 5px auto;
    height: 6px;
    display: block;
    background-color: aqua;
    
}

/* menu mobile */

.menu-mobile {transform: translateX(270px);}
.btn-menu {transform: translateX(0);}

.btn-menu-active .menu-mobile {
    transform: translateX(0);
  }
  
  .btn-menu-active .btn-menu {
    transform: translateX(-30px);
    right: 0px;
  }

.menu-mobile{
    top: 70px;
    right: 0;
    width:270px;
    height:100%;
    position: fixed;
    overflow: hidden;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; 
    -moz-transition-duration: 0.3s;
    text-align: center;
    background-color: rgba(66, 66, 66, 0.7);
    color: white;
    list-style-type: none; 
    
}

.menu-mobile ul li{
    display: block;
    font-size: 20px;    
    padding: 10px 0;
    color: white;
}

.menu-mobile a{
    text-decoration: none; 
}

.menu-mobile ul li:hover{
    color: aqua;
    text-shadow: 2px 2px 5px aqua;
    
}

/* Projetos */
.projetos{
    background-color: grey;
}

.container-project{
    text-align: center;
    width: 100%;
    height: 800px;
}

.container-project h1{
    font-style: italic;
    font-size: 65px;
    padding: 20px 0;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80%;
    max-height: 700px;
}

.slider img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    display: none;

}

.bullets-nav{
    position: relative;
    top: 30px;
    z-index: 999;
}

.bullets-nav span{
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 2px solid aqua;
    background-color: black;
    cursor: pointer;
    margin: 0 20px;
}

/* Section Sobre */

.sobre{
    padding: 100px 0;
    text-align: center;
}

.sobre h2{
    font-style: italic;
    font-size: 65px;
    padding-bottom: 20px 0;
}

.sobre p{
    font-size: 16px;
    margin: 0 auto;
    max-width: 900px;
}

/* Section Experiencia */

/* Jobs container Principal */
.experiencia{
    display: flex;
    
}

.navegacao-exp{
    font-family: 'Benne', serif;
    color: rgb(177, 177, 177);
    width: 45%;
    padding: 100px;
    background-color: #4a5562;
    text-transform: uppercase;
}

.navegacao-exp h2{
    letter-spacing: 5px;
    font-size: 22px;
    font-weight: normal;
}
.sub-navegacao{
    background-color: rgb(93, 187, 0);
    width: 100px;
    height: 3px;
    margin-bottom: 30px;  
}

.navegacao-exp nav li{
    display: block;
   
}
.navegacao-exp i{
    font-size: 35px;

}

.navegacao-exp nav a{
    color: rgb(177, 177, 177);
    text-decoration: none;
    padding: 8px 24px;
}



/* Job Container Single */
.experiencia-container{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
   
}

.experiencia-box{
    padding-top: 60px;
    
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6{
    display: none;
    
}

.side-left{
    width: 30%;
}

.side-left img{
    width: 100%;
}

.side-right{
    padding-left: 50px;
    width: 70%;
    height: auto;

}

.side-right h4{
    padding: 30px 0;
    font-size: 28px;
    font-family: 'open sans', sans-serif;
}

.side-right p{
    font-size: 18px;

}

.navegacao-exp nav li:hover, nav a:hover{
    color: white;
    text-shadow: 1px 1px 5px white;
}




