*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{ 
    width: 100%;
}

@font-face{
    font-family: "Oswald";
    src: url("../fonts/Oswald-ExtraLight.ttf") format("trutype");
}

@font-face{
    font-family: "Oswald2";
    src: url("../fonts/Oswald-SemiBold.ttf") format("trutype");
}
.page{
    display: flex;
}
.sidebar{
    width: 20%;
    height: auto;
    background-color: rgb(17, 14, 168);
    overflow: hidden;
    overflow-y: hidden;
    text-align: center;
    
}

.menu{
    text-decoration: none;
    padding: 0 10px;
}

.menu a{
    display: block;
    padding-top: 20px;
    color: snow;
    font-family: "fontHappy", sans-serif;
    font-style: italic;
    text-shadow: 2px 2px black;
    font-size: 25px;
    text-decoration: none;
}

.descricao{
    position: relative;
    margin-top: 15%;
    width: 70%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    overflow-y: hidden;
}

.sidebarimg .foto{
    margin-top: 150px;
    border: 7px solid  rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 70%;
}

.sidebarimg .dev{
    width: 80%;
    border: 0;
    margin-top: -15px;
}

.sidebar a:hover, .descricao a:hover{
    color: orangered;
}

.descricao h1{
    margin-left: 30px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 7px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Oswald2', sans-serif;
}

.descricao h1 span{
    color: rgb(39, 24, 179);
    text-shadow: 2px 2px black;
}

.descricao h2{
    margin-left: 30px;
    margin-bottom: 50px;
    color: rgb(75, 74, 74);
    font-size: 23px;
    font-style: italic;
    font-family: 'Oswald2', sans-serif;
}

.descricao h2 span{
    color: rgb(39, 24, 179);
    text-shadow: 1px 1px black;
}

.descricao a{
    margin-top: 10px;
    text-decoration: none;
    color:rgb(75, 74, 74);
}

.descricao p{
    width: 90%;
    text-align: auto;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    color: rgb(102, 96, 96);
    
}

.social{
    box-sizing: border-box;
    padding: 5px;
    clear: both;
    text-align: left; 
    width: auto;
    height: 200px;
    word-spacing: -30px;
}

.social .face{
    position: relative;
    left: 50px;
    top: -30px;
    margin-left: -30px;
}

.social .insta{
    position: relative;
    left: 50px;
    top: -20px;
    margin-left: 0px;
}

.social .linked{
    position: relative;
    left: 75px;
    top: -15px;
    margin-left: -55px;
}

.social .github{
    position: relative;
    left: 65px;
    top: -35px;
    margin-left: -18px;
}

.social a{
    font-family: 'Oswald2' sans-serif;
    font-size: 20px;
    color: blue;
    font-style: italic;
    text-decoration: none;
}

 @media screen and (max-width: 780px){ 
   .page{
       display: inherit;
   }

   .sidebar{ 
       width: inherit;
       height: 100px;
       border: inherit;
       border-bottom: 5px solid rgb(102, 96, 96);
       overflow: hidden;
       overflow-y: hidden;
   }

   .menu a{
       display: inline-block;
       padding: 1% 1%;
   }

   .menu{
       text-align: right;
       padding: 1% 2%;
   }

   .sidebarimg{
       top: -130px;
       position: absolute;
       width: 25%;
       height: 25%;
   }
    .descricao{
        width: 100%;
        height: auto;
        padding: 2% 2%;
        overflow: hidden;
        overflow-y: hidden;
    }

    .social{
        max-width: 100%;
        width: 33,3%;
        display: block;
        margin: -4px;
    }


}
